body{
   font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: antiquewhite;
    font-family: 'Arial',sans-serif;
    margin: 0;
    padding: 20px;
}
.grid-container-adaptive {
    display: flex;
    grid-template-columns: repeat(auto-fill, minmax(300px, 4fr));
    
    gap: 20px;
  }
  
  .grid-item-adaptive {
    height: 400px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: bisque;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0, 0.1 );
    background-image: url('https://i.pinimg.com/originals/76/74/af/7674afaab0239fcc95db982e75bdc684.jpg');
    background-size: cover;
   background-position: center;
  }
  .grid-item-adaptive h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    color: rgb(65, 44, 11);
  }
  
.grid-item-adaptive p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(67, 66, 63);
    margin: 10px 0;
    flex-grow: 1;
  }
  .grid-item-adaptive a{
    color: rgb(87, 84, 84);
    text-decoration: none;
    text-align: end;
  }
  
  .img-container {
    width: 100%;
    height: auto;
    overflow: hidden;

  }
  .img-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
   
   
  }
  
  